* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



header {
  width: 100%;
  height: 70px;
  background-color: #EC715F;

}

.hamburger {
  max-width: 1024px;
  width: 100%;
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.btn-gNav {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 30px;
  height: 24px;
  z-index: 12;
  cursor: pointer;
}

.btn-gNav span {
  position: absolute;
  width: 100%;
  height: 4px;
  background: #FAFAFA;
  border-radius: 10px;
}

.btn-gNav span:nth-child(1) {
  top: 0;
}

.btn-gNav span:nth-child(2) {
  top: 10px;
}

.btn-gNav span:nth-child(3) {
  top: 20px;
}

.btn-gNav {
  display: none;
}

.gNav {
  margin: 0 0 0 auto;
}

.gNav-menu {
  display: flex;
  justify-content: space-between;
}

.nav-list-item {
  margin: 0 auto;
  padding: 0 30px;
  font-size: 16px;
  color: #FAFAFA;
}

a {
  text-decoration: none;
  color: #FAFAFA;
}

ul {
  list-style: none;
  margin: 0;
}

.header-icon {
  height: 70px;
  width: auto;
}

#main-visual {
  height: 650px;
  background-image: url(img/mv.png);
  background-position: center;
  background-size: cover;
  position: relative;
}

.main-visual-content {
  position: absolute;
  top: 200px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

h1 {
  font-size: 64px;
  color: #FAFAFA;
}

.main-visual-sub-text {
  font-size: 20px;
  color: #FAFAFA;
  margin-top: 10px;
}

h2 {
  font-size: 32px;
  color: #000000;
  text-align: center;
  padding-top: 90px;
}

#Portfolio {
  background-color: #ECEFF1;
}

.Portfolio-container {
  width: 920px;
  margin: 0 auto;
}

.under-line {
  height: 3px;
  width: 70px;
  background-color: #EC715F;
  margin: 8px auto 0;
}

.text {
  font-size: 16px;
  color: #000000;
  text-align: center;
  margin: 0 auto;
  padding: 30px 0;
}

.Portfolio-contents {
  display: flex;
  flex-wrap: wrap;
}

.Portfolio-box {
  width: 300px;
  height: 250px;
  background-position: center;
  background-size: cover;
  margin-right: 10px;
}

.Portfolio-box:nth-child(3n) {
  margin-right: 0;
}

.Portfolio-box:nth-last-child(-n+3) {
  margin-bottom: 90px;
  margin-top: 10px;
}

.Portfolio-box:nth-child(1) {
  background-image: url(img/sketch.jpg);
}

.Portfolio-box:nth-child(2) {
  background-image: url(img/websuku.png);
}

.Portfolio-box:nth-child(3) {
  background-image: url(img/write.jpg);
}

.Portfolio-box:nth-child(4) {
  background-image: url(img/webcamp.png);
}

.Portfolio-box:nth-child(5) {
  background-image: url(img/talk.jpg);
}

.Portfolio-box:nth-child(6) {
  background-image: url(img/webcamp-mother.png);
}


.Feature-contents {
  display: flex;
  margin: 0 auto;
  width: 980px;
}

.Feature-box {
  width: 320px;
  height: auto;
  margin-right: 10px;
  margin-bottom: 90px;
}

.Feature-box:nth-last-child {
  margin-right: 0;
}

.strength i {
  font-size: 60px;
  display: flex;
  justify-content: center;
}

.Feature-strength {
  font-size: 20px;
  color: #000000;
  padding: 10px 0;
  text-align: center;
}

#Profile {
  background-color: #ECEFF1;
}

.Profile-container {
  width: 1024px;
  margin: 0 auto;
} 

.Profile-contents {
  display: flex;
  padding-bottom: 90px;
}

.Profile-image {
  width: 512px;
  text-align: center;
}

img {
  border-radius: 50%;
  width: 250px;
  height: 250px;
}

.introduction {
  width: 512px;
}

h3 {
  font-size: 20px;
  padding-bottom: 5px;
}

.Profile-text {
  margin-bottom: 20px;
}

.Contact-container {
  width: 800px;
  margin: 0 auto;
  display: flex;
}

.Contact-contents {
  display: flex;
  margin: 0 auto;
  width: 800px;
  text-align: center;
  margin-bottom: 90px;
}

.address {
  width: 400px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.index {
  color: black;
}

.SNS {
  width: 400px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.address section, .SNS section {
  text-align: left;
}

.SNS-icon i {
  font-size: 50px;
  justify-content: center;
  margin-right: 20px;
}



footer {
  height: 60px;
  background-color: #EC715F;
  align-items: center;
  display: flex;
}


.footer-text {
  font-size: 16px;
  color: #FAFAFA;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  
  header {
    width: 100%;
    height: 50px;
  }
  
  .hamburger {
    width: 100%;
    max-width: 90%;
  }
  
  .btn-gNav {
    display: block;
    color: #FAFAFA;
  }
  
  .gNav {
    display: none;
  }

  .gNav-menu {
    display: none;
  }
    
  #main-visual {
    background-image: url(img/code.png);
  }
  
  .main-visual-content {
    width: 90%;
  }
  
  .main-visual-text {
    font-size: 40px;
  }
  
  .main-visual-sub-text {
    font-size: 18px;
  }
  
  .Portfolio-container {
    width: 90%;
    padding-bottom: 90px;
    text-align: center;
  }
  
  .Portfolio-contents {
    display: inline-block;
    justify-content: center;
  }
  
  .Portfolio-box {
    margin-bottom: 10px;
    margin-right: 0;
  }
  
  .Portfolio-box:nth-child(odd) {
    display: none;
  }
  
  .Portfolio-box:nth-last-child(-n+3) {
    margin-bottom: 0;
  }
  
  .Feature-contents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 90px;
  }
  
  .Feature-box {
    width: 90%;
    height: auto;
    margin: 0 auto 10px;
  }
  
}